.conT{
    width:100%;
    max-width:1000px;
    margin:0 auto;
        padding: 2px 15px;
    

}
.typ{
    position: relative;
}
.typ4{
    padding-top: 40px;
}
.abImg{
    position:absolute;
    z-index: 1;
    width:100%;
    left:0;
    top:-10px;
    display:none
}

.formDivC{
    width: 100%;
        max-width: 700px;
        margin: 0 auto;
        border: 1px solid #6262a1;
        padding: 20px;
        border-radius: 8px;
        position: relative;
        z-index: 2;
        background-color: #524bad;
        margin-top: -40px;
        margin-bottom: 20px;
}
.getInTouch{
    color:gold;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}
.getInTouch1{
    width:100%;
    max-width: 70%;
    padding:0 10px;
    color:#fff;
    margin:0 auto;
    text-align: center;
    margin-bottom: 10px;
}
.inputsFormC{
    padding:10px 10px;
    border-radius: 5px;
    background-color: inherit;
    border: 0;
    outline: 0;
    color:#fff;
    border: 0.5px solid #8989cb;
    width:100%;
    margin-top: 5px;
    margin-bottom: 15px;
}
.textAreaH{
    height:300px;
}
.inputsFormC::placeholder{
    color:#ababd9;
}
.MButton{
    padding: 10px 20px;
        border-radius: 8px;
        background-color: #6d69c4;
        color: #fff;
        border: 0;
        outline: 0;
        cursor: pointer;
        border: 1px solid #a5aad9;
        box-shadow: 0px 0px 17px -11px #090714;
}
.usContact{
    margin-top: 60px;
        margin-bottom: 78px;
    font-size: 35px;
    font-weight: 700;
    position: relative;
    z-index: 10;
    color:#fff;
}
.labelC{
    color:#dfdfeb;
}

.successM {
  
    background: #3b3b99b8;
    position: fixed;
    overflow: hidden;
   top:0;
   left:0;
   right:0;
   bottom:0;
   z-index: 16000;
    
}

.sucMac{
    overflow: hidden;
}
.sucMac1{
   width:100%;
   max-width:600px;
   padding:10px 15px;
   position: absolute;
   left:50%;
   top:50%;
   transform: translate(-50%,-50%);
   z-index: 19000;
}
.sucMac2{
    width:100%;
    padding: 20px 10px;
    color:#000;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    border-radius: 5px;

}
.errors {
    background: #fff !important;
    color: red !important;
    border: 1px solid red !important;
}

@media(max-width:768px){
    .getInTouch1{
        max-width: 100%;
    }
    .usContact{
 margin-top: 2px;
    margin-bottom: 65px;
    text-align: center;
   
    }
}
