.pinM{
    width:100%;
    max-width: 1300px;
    margin: 0 auto;

}
.MaratT{
        padding: 2px 15px;
}

@media (max-width:768px){
    .MaratT{
        flex-direction: column;
         margin: 0px auto 0 auto;
    
    
    }
    .AboutM{
      width:100%;
      /* padding:2px 15px; */
      text-align: center;

    }
       .MaratB {
            font-size: 34px;
            margin-bottom: 12px;
            margin-top: 15px;
        }

    }
    @media(min-width:570px) and (max-width:768px){
        .filesVideo{
            flex-direction: row;
        }
        .cardDivWithImg{
            width:98%;
            flex-grow: 1;
            flex-basis: 47%;
        }
                .imgW12{
                    width:96%;
                }
    }