.mmvn{
    background-color:#8882c5;
    
padding:30px 10px 20px 10px;
border-top-left-radius: 600px;
border-bottom-right-radius: 600px;
}

.mmvn1{
    background-color: #0c055452;
        padding: 40px 0
}