.heroDiv {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    z-index: 500;
    padding: 2px 10px
}

.navbarMainDiv {
    position: relative;

}

.headerDivFle {
    display: flex;
}

.addHeaderDivFile {
    justify-content: space-between;
}

.headerDivFle1 {
    width: 40%;
    background-color: inherit;
}

.headerDivFle2 {
    width: 54%;
    /* position: absolute;
    right: 0%;
    top: 70px; */
}

.headerDivFle21 {
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.imgFileDiv {
    width: 100%;
    height: 540px;
    ;
}

.millionPP {
    color: #727dc9;
    font-weight: 500
}

.divUnderline {
    width: 120px;
    height: 3px;
    background-color: #393756;
    margin-bottom: 10px;
}

.Explore {
    margin-top: 30%;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: sans-serif;
    line-height: 46px;

}

.exploreC {
    color: var(--p-color);
}

.Explore1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.Explore2 {
    padding: 10px 12px;
    border: none;
    background: linear-gradient(90deg, rgb(156 167 236) 0%, rgb(35 35 62) 50%, rgb(76 76 118) 100%);
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}

.Explore2:hover {
    background: linear-gradient(90deg, rgb(76 76 118) 100%, rgb(35 35 62) 50%, rgb(156 167 236) 0%);
}

.Explore3 {
    color: #fff;
}

.coding1 {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.coding2 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    /* padding-right: 20px; */
}

.coding3 {
    width: 50%;
}

.dereF {
    padding: 60px 0 20px 0
}
.CNN{
    margin:80px auto 30px auto;
    width:70%;
    border-bottom: 1px solid #2f2f45;
}
.imgSrc1 {
    width: 100%;
    max-width: 500px;
}

.pap {
    width: 100%;
    border-radius: 5px;
}

.hands {
    font-size: 14px;
    font-weight: 600;
    color: var(--p-color);
}

.hands2 {
    font-size: 14px;
    color: #9492a9;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 35px;
    font-family: sans-serif;
}

.morPage {
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
    text-align: center;
    color: var(--p-color);
}

.morPage2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.morPage1 {
    text-align: center;
    padding: 8px 10px;
    color: #c8c7d8;
    background-color: #232334;
    border: 1.5px solid #2f2f45;
    border-radius: 0.5rem;
    margin-right: 0.75rem;
    cursor: pointer;
    transition: all .3s;
}

.hands1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
    ;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.skillPath {
    font-size: 14px;
    font-weight: 400;
    color: #535681;
    margin-top: 8px;
}

.landL2 {
    padding: 6px 10px;

    border-radius: 8px;
    border: 1px solid #767391;
    color: #9999b7;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
}

.landL {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.hands3 {
    display: flex;
    gap: 10px;
}

.hands3s,
.hands5 {
    width: 50%;
}

.divLip {
    color: #fff !important;
}

.iconDiv {
    font-size: 20px;

}

.projectPreviewDiv1 {
    width: 100%;
    max-width: 1100px;
    margin: 25px auto 10px auto;
    padding: 50px 15px 20px 15px;
}

.TrendingCourses {
    font-size: 36px;
    font-weight: 700;
    color: var(--p-color);
    font-family: sans-serif;


}

.PowerBy {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.Checkout {
    font-size: 18px;
    font-weight: 400;
    color:#a7a6b5;
}

.MostPopular {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tou {
    max-width: 1160px;
    margin: 0 auto 15px auto;
}

.viewMoreButton {

    color: white;

    background: linear-gradient(90deg, rgb(35 35 52) 0%, rgb(35 35 62) 50%, rgb(26 26 44) 100%);
    border: 1.5px solid #2f2f45;
    padding: 10px 15px;
    border-radius: 6px;
}

.viewMoreButton:hover {
    background: linear-gradient(90deg, rgb(35 35 52) 0%, rgb(35 35 62) 50%, rgb(26 26 44) 100%, rgb(35 35 62) 50%, );
    border: 1.5px solid #2f2f45;
    color: gold;
    border: 1px solid #434356;
}
.Numb{
    color:#8486a3;
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 400;
}

.WhatIs {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0 15px 0;
    color: var(--p-color);

}
.fifiM{
    display:flex;
    justify-content: space-between;
    width:66.3%
}


.filesVideo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto
}

.filesVideo1 {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto
}

.cardDivWithImg {
    background-color: #232334;
    border: 1.5px solid #2f2f45;
    padding: 10px 8px;
    color: #f2f2f2;
    border-radius: 8px;
    width: 32%;
    transition: all 5s;
}

.imgWidth {
    width: 24% !important;
}

.imgHeight {
    height: 160px !important;
}

.janu {
    margin-top: 10px !important;
}

.cardDivWithImg:hover {
    transform: scale(1.025);
        border: 1px solid #717081;
            /* box-shadow: 0px 2px 11px 4px #1d1d2c; */
}

.gig {
    width: 24%
}

.ImgDivGenerator {
    width: 100%;
    height: 220px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.divImg {
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.projectPreviewDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Preview {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.Jan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 10px 0;

}
.gg{
    align-items: normal;
}

.iconDivN {
    margin-bottom: 15px;
}

.gift {
    width: 32%
}

.fra {
    color: #6964ab;
}
.gg{
    padding:2px 15px;
}

@media (max-width:768px) {

    .headerDivFle {
        display: flex;
        flex-direction: column-reverse;

    }

    .gift {
        width: 100%
    }
    .CNN{
            margin: 30px auto 12px auto
    }

    .morPage1 {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .morPage2 {
        font-size: 16px;
    }

    .imgWidth {
        width: 100% !important;
    }

    .filesVideo {
        flex-direction: column;
        padding: 2px 20px;
    }

    .viewMoreButton {
        display: none;
    }

    .footerMainDiv {
        flex-direction: column-reverse;
    }

    .filesVideo1 {
        flex-direction: column-reverse;
        padding: 2px 20px;
    }

    .coding2 {
        flex-direction: column;
        padding: 2px 10px;
    }

    .coding3 {
        width: 100%;
    }

    .dereF {
        padding: 5px 20px;
    }

    .hands {
        text-align: center;
        margin-top: 20px;
    }

    .hands1 {
        font-size: 27px;
        text-align: center;
    }

    .imgSrc1 {
        margin: 2px auto;
    }

    .hands2 {
        text-align: center;
    }

    .divUnderline {
        margin: 1px auto 15px auto;
    }

    .imgFileDiv {
        width: 100%;
        height: auto;
    }

    .headerDivFle2 {
        width: 100%;
        padding: 2px 10px;
    }

    .headerDivFle1 {
        width: 100%;
    }
    .lm{
        padding:2px 20px;
    }

    .ExploreJ {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        padding: 2px 10px;
        width: 100%;
        max-width: 90%;
        margin: 20px auto;

    }

    .Explore {
        display: none;
    }

    .Explore1 {
        text-align: center;
        padding: 2px 10px;
        margin: 15px auto;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        max-width: 90%;
        color: #2be577;
    }

    .Explore3 {
        text-align: center;
        padding: 2px 10px;
        width: 100%;
        max-width: 90%;
        margin: 15px auto;
    }

    .CoursesB {
        width: 100%;
        max-width: 160px;
        margin: 2px auto 15px auto;
    }

    .TrendingCourses {
        font-size: 30px;
        text-align: center;
    }

    .projectPreviewDiv1 {
        padding: 20px 0px;
        margin: 0 auto 10px auto;

    }

    .Checkout {
        text-align: center;
        padding: 2px 15px;
    }

    .cardDivWithImg {
        width: 100%;
        margin-bottom: 10px;
    }
    .lm1{
        display:none;
    }
}

@media (min-width:769px) {
    .ExploreJ {
        display: none;
    }
    .lm{
        display:none;
    }

}

@media (max-width:354px) {
    .ExploreJ {
        max-width: 100%;
    }

}