.mmvn{
    background-color:#7369c9;
    
padding:30px 10px 20px 10px;
border-top-left-radius: 600px;
border-bottom-right-radius: 600px;
}

.mmvn1{
    background-color: #261d8963;
        padding: 40px 0;
        position: relative;
}