.heroDiv {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 500;
    padding: 2px 10px
}

.navbarMainDiv {
    position: relative;

}

.headerDivFle {
    display: flex;
}

.addHeaderDivFile {
    justify-content: space-between;
}

.headerDivFle1 {
    width: 50%;
    background-color: inherit;
}

.headerDivFle2 {
    width: 50%;
    /* position: absolute;
    right: 0%;
    top: 70px; */
}

.headerDivFle21 {
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.imgFileDiv {
    width: 100%;
    height: 540px;
    ;
}

.millionPP {
    color:gold;
    font-weight: 500
}

.divUnderline {
    width: 120px;
    height: 3px;
    background-color: #c7c6dbb3;
    margin-bottom: 10px;
}

.Explore {
margin-top: 26%;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 26px;
    font-family: sans-serif;
    line-height: 79px;

    color:#1c166c;

}

.exploreC {
    color: var(--p-color);
}

.Explore1 {
    font-size: 20px;
    margin-bottom: 10px;
    color:#32287c;
}

.Explore2 {
    padding: 10px 12px;
    border: none;
    background: linear-gradient(90deg, rgb(96 90 162) 0%, rgb(116 111 199) 50%, rgb(101 95 177) 100%);
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}

.Explore2:hover {
    background: linear-gradient(90deg,rgb(101 95 177) 100% , rgb(116 111 199) 50%,rgb(96 90 162) 0%) ;
}

.Explore3 {
    color: #040430;
}

.coding1 {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.coding2 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    /* padding-right: 20px; */
}

.coding3 {
    width: 50%;
    position:relative
}
.Mywork{
    width:300px;
    height:300px;
    /* background-color: #160e685c; */
    border-radius: 50%;
    position:absolute;
    display:flex;
        left: -76px;
            top: -30px;
    gap:10px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
}
.Mywork2{
    width: 300px;
        height: 300px;
        /* background-color: #160e685c; */
        border-radius: 50%;
        position: absolute;
        display: flex;
    right: -76px;
        bottom: -30px;
        gap: 10px;
        flex-direction: column;
        justify-content: space-between;
        z-index: 4;
}
.Mywork1{
    width:250px;
    height:90px;
    background-color: #0b064863;
    transform: rotate(230deg);
    border-radius: 10px;
}
.kolo{
position:relative;
z-index: 6;
}

.dereF {
    padding: 80px 0 30px 0
}
.CNN{
    margin:80px auto 30px auto;
    width:70%;
    border-bottom: 1px solid #766fb7;
}
.imgSrc1 {
    width: 100%;
    max-width: 500px;
}

.pap {
    width: 100%;
    border-radius: 5px;
}

.hands {
    font-size: 14px;
    font-weight: 600;
    color: var(--p-color);
}

.hands2 {
    font-size: 17px;
        color: #1c0e64;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 35px;
    font-family: sans-serif;
}

.morPage {
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
    text-align: center;
    color: var(--p-color);
}

.morPage2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.morPage1 {
    text-align: center;
    padding: 8px 10px;
    color: #f8f8fd;
        background-color: #5e589b;
        border: 1.5px solid #4c4c6c;
    border-radius: 0.5rem;
    margin-right: 0.75rem;
    cursor: pointer;
    transition: all .3s;
}

.hands1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    color: #1c166c;
 
    margin-bottom: 10px;
    font-family: sans-serif;
}

.skillPath {
    font-size: 14px;
    font-weight: 400;
    color: #060632;
    margin-top: 8px;
}

.landL2 {
    padding: 6px 10px;

    border-radius: 8px;
        border: 1px solid #9696b7;
       
                color: #fff;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
}

.landL {
    font-size: 16px;
    font-weight: 600;
    color: #c1bbed;
}

.hands3 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.hands3s,
.hands5 {
    width: 48%;
}

.divLip {
    color: #fff !important;
}

.iconDiv {
    font-size: 20px;

}

.projectPreviewDiv1 {
    width: 100%;
    max-width: 1200px;
    margin: 25px auto 10px auto;
    padding: 50px 15px 35px 15px;
}

.TrendingCourses {
    font-size: 36px;
    font-weight: 700;
    color: var(--p-color);
    font-family: sans-serif;


}

.PowerBy {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.Checkout {
    font-size: 18px;
    font-weight: 400;
    color:#222130;
}

.MostPopular {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tou {
    max-width: 1160px;
    margin: 0 auto 15px auto;
}

.viewMoreButton {

    color: white;

    background: linear-gradient(90deg, rgb(35 35 52) 0%, rgb(35 35 62) 50%, rgb(26 26 44) 100%);
    border: 1.5px solid #2f2f45;
    padding: 10px 15px;
    border-radius: 6px;
}

.viewMoreButton:hover {
    background: linear-gradient(90deg, rgb(35 35 52) 0%, rgb(35 35 62) 50%, rgb(26 26 44) 100%, rgb(35 35 62) 50%, );
    border: 1.5px solid #2f2f45;
    color: gold;
    border: 1px solid #434356;
}
.Numb{
    color:#040628;
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 400;
}
.BumbN{
    background-color: #5e589b;
}

.WhatIs {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0 15px 0;
    color: var(--p-color);

}
.fifiM{
    display:flex;
    justify-content: space-between;
    width:66.3%
}


.filesVideo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto
}

.filesVideo1 {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto
}

.cardDivWithImg {
background-color: #5e589b;
    border: 1.5px solid #61619d;
    padding: 10px 8px;
    color: #f2f2f2;
    border-radius: 8px;
    width: 32%;
    transition: all 5s;
}

.imgWidth {
    width: 24% !important;
}

.imgHeight {
    height: 160px !important;
}

.janu {
    margin-top: 10px !important;
}

.cardDivWithImg:hover {
    transform: scale(1.025);
        border: 1px solid #717081;
            /* box-shadow: 0px 2px 11px 4px #1d1d2c; */
}

.gig {
    width: 24%
}

.ImgDivGenerator {
    width: 100%;
    height: 220px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.divImg {
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.projectPreviewDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Preview {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.Jan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 10px 0;

}
.gg{
    align-items: normal;
}

.iconDivN {
    margin-bottom: 15px;
}

.gift {
    width: 32%
}
.hands4{
    color:#1c0e64;
}
.authorName{
    color:#2be577
}
.authorName1 {
    color: #151754
}
.pooko{
    color:#f3f3f9
}
.pooko1{
    color:#d1caf3
}

.fra {
    color: #615d99;
}
.gg{
    padding:2px 15px;
}

@media (max-width:768px) {

    .headerDivFle {
        display: flex;
        flex-direction: column-reverse;

    }
    .gamaT{
        padding:0 10px
    }
    .gamat2{
        margin-top: 20px;
    }

    .gift {
        width: 100%
    }
    .CNN{
            margin: 30px auto 12px auto
    }

    .morPage1 {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .morPage2 {
        font-size: 16px;
    }

    .imgWidth {
        width: 100% !important;
    }

    .filesVideo {
        flex-direction: column;
        padding: 2px 20px;
    }

    .viewMoreButton {
        display: none;
    }

    .footerMainDiv {
        flex-direction: column-reverse;
    }

    .filesVideo1 {
        flex-direction: column-reverse;
        padding: 2px 20px;
    }

    .coding2 {
        flex-direction:column;
        padding: 2px 10px;
    }
        .coding56 {
            flex-direction:column-reverse;
            padding: 2px 10px;
        }

    .coding3 {
        width: 100%;
    }

    .dereF {
        padding: 5px 0px;
    }

    .hands {
        text-align: center;
        margin-top: 20px;
    }

    .hands1 {
        font-size: 27px;
        text-align: center;
    }

    .imgSrc1 {
        margin: 2px auto;
    }
  .gamat2 {
      margin-top: 20px;
  }
    .hands2 {
        text-align: center;
        font-size: 16px;
        font-weight: 200;
    }

    .divUnderline {
        margin: 1px auto 15px auto;
    }

    .imgFileDiv {
        width: 100%;
        height: auto;
    }

    .headerDivFle2 {
        width: 100%;
        padding: 2px 10px;
    }

    .headerDivFle1 {
        width: 100%;
    }
    .lm{
        padding:2px 20px;
    }

    .ExploreJ {
        font-size: 38px;
        font-weight: 500;
        text-align: center;
        padding: 2px 10px;
        width: 100%;
        color:#fff;
        max-width: 90%;
        margin: 20px auto 2px auto;

    }
    
.hands3 {
flex-direction: column;
}
.hands3s,
.hands5 {
    width: 100%;
}

    .Explore {
        display: none;
    }

    .Explore1 {
        text-align: center;
        padding: 2px 10px;
        margin: 15px auto;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        max-width: 90%;
        color: #060846fc;
    }

    .Explore3 {
        text-align: center;
        padding: 2px 10px;
        width: 100%;
        max-width: 90%;
        margin: 15px auto;
    }

    .CoursesB {
        width: 100%;
        max-width: 160px;
        margin: 2px auto 15px auto;
    }

    .TrendingCourses {
        font-size: 30px;
        text-align: center;
    }

    .projectPreviewDiv1 {
        padding: 20px 0px;
        margin: 0 auto 10px auto;

    }

    .Checkout {
        text-align: center;
        padding: 2px 15px;
    }

    .cardDivWithImg {
        width: 100%;
        margin-bottom: 10px;
    }
    .lm1{
        display:none;
    }
}

@media (min-width:769px) {
    .ExploreJ {
        display: none;
    }
    .lm{
        display:none;
    }

}

@media (max-width:354px) {
    .ExploreJ {
        max-width: 100%;
    }

}