.mmvn{
    background-color:#010c2a;
    
padding:30px 10px 20px 10px;
border-top-left-radius: 600px;
border-bottom-right-radius: 600px;
position:relative
}

.mmvn1{
    /* background-color: #261d8963; */
    background-color: #1a1f48;
    /* background-color: #4c4588; */
        padding: 40px 0;
        position: relative;
}