.heroDiv {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    z-index: 500;
    padding: 2px 10px
}

.navbarMainDiv {
    position: relative;
    /* overflow: hidden; */
    padding-bottom: 67px;
}

.headerDivFle {
    display: flex;
}

.addHeaderDivFile {
    justify-content: space-between;
}

.headerDivFle1 {
    width: 50%;
    background-color: inherit;
    position: relative;
    /* z-index: 4; */
}

.rteb {
    position: relative;
    z-index: 4;
}

.headerDivFle2 {
    width: 50%;
    position: relative;
    z-index: 4;

}

.headerDivFle21 {
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.imgFileDiv {
    width: 100%;
    height: 540px;
    ;
}

.millionPP {
    color: gold;
    font-weight: 500
}

.divUnderline {
    width: 120px;
    height: 3px;
    background-color: #dbbc30fa;
    margin-bottom: 10px;
    position: relative;
    z-index: 4;
}

.Explore {
    margin-top: 22%;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 26px;
    font-family: sans-serif;
    line-height: 79px;

    color: #fff;
    font-family: cursive;


}

.exploreC {
    color: var(--p-color);
}

.Explore1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

.Explore2 {
    padding: 10px 12px;
    border: none;
    background: linear-gradient(90deg, rgb(77 67 191) 0%, rgb(86 80 191) 50%, rgb(48 41 147)100%);
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}

.picss {
    position: absolute;
    right: 40px;
    bottom: 0;
    z-index: 1;
    width: 300px;
    transform: rotate(300deg);
}

.Explore2:hover {
    background: linear-gradient(90deg, rgb(101 95 177) 100%, rgb(116 111 199) 50%, rgb(96 90 162) 0%);
}

.Explore3 {
    color: #ffffff;
}

.coding1 {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.coding2 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
    /* padding-right: 20px; */
}

.coding3 {
    width: 48%;
    position: relative
}

.Mywork {
    width: 300px;
    height: 300px;
    /* background-color: #160e685c; */
    border-radius: 50%;
    position: absolute;
    display: flex;
    right: 0px;
    top: -30px;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
}

.Mywork2 {
    width: 300px;
    height: 300px;
    /* background-color: #160e685c; */
    border-radius: 50%;
    position: absolute;
    display: flex;
    left: -76px;
    bottom: -30px;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
}

.fe {
    transform: rotate(270deg);
}

.Mywork1 {
    width: 250px;
    height: 90px;
    background-color: #483ea7fa;
    transform: rotate(230deg);
    border-radius: 10px;
}

.kolo {
    position: relative;
    z-index: 6;
}


.dereF {
    padding: 25px 10px 30px 10px
}

.CNN {
    margin: 80px auto 30px auto;
    width: 70%;
    border-bottom: 1px solid #766fb7;
}

.imgSrc1 {
    width: 100%;
    max-width: 500px;
}

.pap {
    width: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 4;
}

.hands {
    font-size: 16px;
    font-weight: 600;
    color: #ffd700;
    position: relative;
    z-index: 5;
}

.hands2 {
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
    position: relative;
    z-index: 5;
    width: 88%;
}

.morPage {
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
    text-align: center;
    color: var(--p-color);
    position: relative;
    z-index: 3;
}

.morPage2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 3;
    color: #e9e9f3;
}

.morPage1 {
    text-align: center;
    padding: 8px 10px;
    position: relative;
    z-index: 3;
    color: #f8f8fd;
    background-color: #524bac;
    border: 1.5px solid #474799;
    border-radius: 11.5rem;
    margin-right: 0.75rem;
    cursor: pointer;
    transition: all .3s;
}

.hands1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    color: gold;
    position: relative;
    z-index: 5;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.skillPath {
    font-size: 14px;
    font-weight: 400;
    color: #060632;
    margin-top: 8px;
}

.landL2 {
    padding: 6px 10px;

    border-radius: 8px;
    border: 1px solid #9696b7;

    color: #fff;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
}

.landL {
    font-size: 16px;
    font-weight: 600;
    color: #c1bbed;
}

.hands3 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.hands3s,
.hands5 {
    width: 88%;
}

.hands3s,
.hands5 {
    padding: 10px 8px;
    border: 1px solid #685dd9;
    position: relative;
    z-index: 10;
    border-radius: 8px;
    background-color: #3b328969;
}

.divLip {
    color: #fff !important;
}

.iconDiv {
    font-size: 20px;

}

.projectPreviewDiv1 {
    width: 100%;
    max-width: 1300px;
    margin: 25px auto 10px auto;
    padding: 50px 15px 35px 15px;
}

.TrendingCourses {
    font-size: 48px;
    font-weight: 700;
    color: var(--p-color);
    font-family: sans-serif;


}

.PowerBy {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.Checkout {
    font-size: 18px;
    font-weight: 400;
    color: #e3e3e7;
}

.MostPopular {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tou {
    max-width: 1300px;
    margin: 0 auto 15px auto;
}

.viewMoreButton {

    color: white;

    /* background: linear-gradient(90deg, rgb(76 76 189) 0%, rgb(131 125 211) 50%, rgb(55 55 165) 100%); */
    border: 1.5px solid #4245ad;
    padding: 10px 15px;
    border-radius: 26px;
    background-color: #161046;
    /* transition: all 1s */
}

.viewMoreButton:hover {
    background-color: #fff;
    border: 1.5px solid #2f2f45;
    color: #161046;
    border: 1px solid #fff;
}

.Numb {
    color: #040628;
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 400;
}

.BumbN {
    background-color: #261d8963;
    position: relative;
}

.WhatIs {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0 15px 0;
    color: var(--p-color);

}

.fifiM {
    display: flex;
    justify-content: space-between;
    width: 66.3%
}


.filesVideo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto
}

.filesVideo1 {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto
}

.blogh1 {
    position: absolute;
    width: 100%;
    bottom: 20px;
    transform: rotate(300deg);
}

.arrow {
    position: absolute;
    left: 34%;
    z-index: 3;
    width: 468px;
    top: 31%;

}

.cardDivWithImg {
    background-color: #524bad;
    border: 1.5px solid #4334b5;
    padding: 10px 8px;
    color: #f2f2f2;
    border-radius: 8px;
    width: 31%;
    transition: all 5s;
    position: relative;
    z-index: 4;
}

.conV {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.conV1 {
    color: #fff;
    position: relative;
    padding: 8px 20px;
    background-color: #3d329b;
    border-radius: 20px;
    z-index: 5;
    text-align: center;
}

.conV24 {
    width: 200px
}

.imgWidth {
    width: 24% !important;
}

.imgHeight {
    height: 160px !important;
}

.janu {
    margin-top: 10px !important;
}

.cardDivWithImg:hover {
    transform: scale(1.025);
    border: 1px solid #717081;
    /* box-shadow: 0px 2px 11px 4px #1d1d2c; */
}

.gig {
    width: 24%
}

.ImgDivGenerator {
    width: 100%;
    height: 220px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.divImg {
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.projectPreviewDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Preview {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.Jan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 10px 0;

}

.gg {
    align-items: normal;
    position: relative;
}

.iconDivN {
    margin-bottom: 15px;
    position: relative;
    z-index: 4;
}

.peopleL {
    font-size: 18px;
    color: #f1dc37;
    font-weight: 500;
}

.de {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 650px;

    /* padding: 1px 10px; */
    overflow: hidden;
}

.de1 {
    font-size: 18px;
    color: #05063e;
    margin-right: 20px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 6px;
}

.de2 {
    border-bottom: 1px solid #acb1d9;
    color: #fff
}

.gift {
    width: 32%;
    position: relative;
    /* overflow: hidden; */
}

.igam {
    width: 500px;
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 1px;
}

.igam1 {
    width: 500px;
    position: absolute;
    z-index: 1;
    bottom: 2px;
    left: 1px;
}

.hands4 {
    color: #fff;
    position: relative;
    z-index: 5;
}

.authorName {
    color: #2be577
}

.authorName1 {
    color: #b6b8f3;
}

.pooko {
    color: #f3f3f9
}

.ii {
    color: yellow;
    font-size: 14px;
}

.StarF {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 2px;
}

.earnSayPp {
    width: 100%;
    padding: 10px 15px;
    height: auto;
    background: #161046;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(60 59 187 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(55 62 153 / 30%)
}

.pooko1 {
    color: #d1caf3
}

.fra {
    color: #2d277e;
}

.gg {
    padding: 2px 15px;
}

.partnerShip {
    color: #cdd5f7;
    margin: 15px 5px 20px 5px;
    line-height: 20px;
    font-size: 16px;
    min-height: 100px;
    font-family: monospace;
}

.popopo {
    width: 80px px;
    height: 80px;
    border-radius: 50%;
    background: inherit;
    border: 1px solid gray;
    padding: 4px;
}

.favourPath {
    display: flex;
    align-items: center;
    gap: 10px;
}


.amakaDiv {
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.yiv {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

}

.build {
    color: #fdfdfd;
    font-size: 40px;
    font-weight: 500;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 2px 10px;
    font-family: cursive;

}

.yiv3 {
    background-color: #261d8963;
    padding: 20px 10px;
}

.withTyb {
    width: 100%;
}

.cvcvcnc {
    width: 162px !important;
    height: 162px !important;
}

.ghFii19 {
    /* width: 140px;
    height: 140px; */
    margin: 0 auto;
    background: #857dcd9c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.bettors1 {
    position: absolute;
    background-color: #0bf921;
    top: 42%;
    right: 7px;
    padding: 10px 10px;
    border-radius: 50%;
    border: 1px solid #221a62;
}


.bettorsDiv {
    position: relative;
    width: 200px;
    text-align: center;
}

.country {
    color: #21f350;
    font-size: 18px;
    font-weight: 700;
}

.AddTip {
    color: #090e46;
    font-size: 18px;
}

.morPage1:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;

}

.conV1:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff;
}


.seeWhat {
    font-size: 16px;
    color: #ededf1;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 25px;
    font-weight: 200;
}

.lm {
    position: relative;
}

.DonTake {
    font-size: 28px;
    padding: 0 10px;
    font-weight: 800;
    width: 100%;
    max-width: 360px;
    margin: 0 auto 15px auto;
    text-align: center;
    color: #fff;
}

.addCode {
    border: 1px solid #4e4ea9;
    border-radius: 6px;
    position: relative;
    z-index: 5;
    background-color: #544bae;
    /* box-shadow: 0px 2px 17px 0px #1c1e6082; */
}

.derfA {
    max-width: 100%;
}

.dereFuy {
    padding: 14px 0 14px 0;
}

.guidePaddBe {
    padding-left: 40px;
}

.loveFbv {
    display: flex;
}

.imgW12 {
    width: 96%
}

.kiki {
    padding-bottom: 30px !important;
}

.kiki2 {
    padding-top: 30px !important;
}

.demHone {
    width: 100%;
    overflow-x: auto;
    padding: 1px 10px;
}

.EarnP {
    font-size: 32px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 30px;
    transition: ease all 2s;
}

.divUnder {
    width: 10%;
    max-width: 400px;
    margin: 0 auto 2px auto;
    height: 3px;
    background-color: #161046;
}

.inviteFr {
    font-size: 42px;
    font-weight: 500;
    color: #f9d511;
    line-height: 50.1px;
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 30px;
    font-family: cursive;
}


.proF {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2px 10px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.ghFi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px !important;
    padding: 30px 15px 22px 15px;
    width: 100%;
    max-width: 1300px;
    margin: 10px auto 10px auto;
}

.itWell {
    text-align: center;
    min-height: 100px;
    color: #fff;
    margin-top: 10px;
}

.bettors {
    width: 32%;

    padding: 30px 20px 30px 20px;
    /* border-radius: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
    flex-direction: column;

}

.TheyAre {
    color: gold;
    text-align: center;
    padding: 0 10px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

@media (max-width:768px) {

    .headerDivFle {
        display: flex;
        flex-direction: column-reverse;

    }

    .build {
        font-size: 24px;
    }

    .MostPopular {
        flex-direction: column;
    }

    .ghFi {
        flex-direction: column;
    }

    .bettors {
        width: 100%
    }

    .igam,
    .igam1 {
        width: 300px;
    }

    .emekaEw {
        padding: 2px 20px
    }

    .Mywork {
        width: auto;
        right: 0;
    }

    .bins {
        display: none
    }

    .navbarMainDiv {

        padding-bottom: 4px;
    }

    .gamaT {
        padding: 0 10px
    }

    .amakaDiv {
        font-size: 16px;
        font-weight: 700;
    }

    .country {
        font-size: 16px;
    }

    .popopo {
        width: 70px;
        height: 70px;
    }

    .gamat2 {
        margin-top: 20px;
    }

    .earnSayPp {
        width: 100%;
        height: auto;
    }

    .partnerShip {
        min-height: 140px;
    }

    .gift {
        width: 100%
    }

    .CNN {
        margin: 30px auto 12px auto
    }

    .morPage1 {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .morPage2 {
        font-size: 16px;
    }

    .imgWidth {
        width: 100% !important;
    }

    .filesVideo {
        flex-direction: column;
        padding: 2px 20px;
    }

    .viewMoreButton {
        display: none;
    }

    .footerMainDiv {
        flex-direction: column-reverse;
    }

    .filesVideo1 {
        flex-direction: column-reverse;
        padding: 2px 20px;
    }

    .coding2 {
        flex-direction: column;
        padding: 2px 10px;
        margin-bottom: 15px;
    }

    .mmvn1 {
        padding: 15px 0 !important;
        overflow: hidden;
    }

    .yiv3 {

        padding: 3px 10px;
    }

    .guidePaddBe {
        padding-left: 0px;
    }

    .coding56 {
        flex-direction: column-reverse;
        padding: 2px 10px;
    }

    .coding3 {
        width: 100%;
    }

    .dereF {
        padding: 5px 0px;
    }

    .hands {
        text-align: center;
        margin-top: 20px;
    }

    .hands1 {
        font-size: 27px;
        text-align: center;
    }

    .imgSrc1 {
        margin: 2px auto;
    }

    .gamat2 {
        margin-top: 20px;
    }

    .peopleL {
        text-align: center;
    }

    .hands2 {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
    }

    .hands4 {
        text-align: center;
    }

    .conV1 {
        margin: 0 auto 10px auto;
    }

    .divUnderline {
        margin: 1px auto 15px auto;
    }

    .imgFileDiv {
        width: 100%;
        height: auto;
    }

    .headerDivFle2 {
        width: 100%;
        padding: 2px 10px;
    }

    .headerDivFle1 {
        width: 100%;
    }

    .lm {
        padding: 2px 20px;
    }

    .arrow {
        display: none
    }

    .blogh1 {
        width: 100%;
        max-width: 300px;
        transform: rotate(0deg);
    }

    .ExploreJ {
        font-size: 38px;
        font-weight: 500;
        text-align: center;
        padding: 2px 10px;
        width: 100%;
        color: #fff;
        font-family: 'circular';
        max-width: 90%;
        margin: 20px auto 2px auto;

    }

    .hands3 {
        flex-direction: column;
    }

    .hands3s,
    .hands5 {
        width: 100%;
    }

    .Explore {
        display: none;
    }

    .Explore1 {
        text-align: center;
        padding: 2px 10px;
        margin: 15px auto;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        max-width: 90%;
        color: #f2f2f5fc;
    }

    .Explore3 {
        text-align: center;
        padding: 2px 10px;
        width: 100%;
        max-width: 90%;
        margin: 15px auto;
    }

    .CoursesB {
        width: 100%;
        max-width: 160px;
        margin: 2px auto 15px auto;
    }

    .TrendingCourses {
        font-size: 30px;
        text-align: center;
    }

    .projectPreviewDiv1 {
        padding: 20px 0px;
        margin: 0 auto 10px auto;

    }

    .Checkout {
        text-align: center;
        padding: 2px 15px;
    }

    .cardDivWithImg {
        width: 100%;
        margin-bottom: 10px;
    }

    .lm1 {
        display: none;
    }

}

.react-multiple-carousel__arrow {
    background: rgb(39 35 94 / 42%) !important;
}

@media (min-width:769px) {
    .ExploreJ {
        display: none;
    }

    .lm {
        display: none;
    }

}

@media (max-width:354px) {
    .ExploreJ {
        max-width: 100%;
    }

}