.loginB{
    margin-bottom: 5px;
}
.clickMe{
    font-size: 14px;
    color:#00ff0a
}
.clickMe1{
   
    color:#00ff0a
}
.loginDivM{
    margin-top: 40px;
}
.MaT{
    margin-top: 8px;
}
@media(max-width:768px){
    .loginDivM {
            margin-top: 15px;
        }
}