*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 15px;
  


  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background-color: #120d6854;
  background-image: linear-gradient(to bottom right, #8d85cf, #5651b185);
}









